<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layoutadmin">
   	<!-- layout Content -->
	<th:block layout:fragment="content">
		<!--<div id="wrapper">-->
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-md-2">
					<!-- NAV 영역-->
					<th:block th:replace="layout/fragments/navadmin :: sidebarFragment"></th:block>
				</div>
				<div class="col-md-10">
				<!-- <div class="container">  -->
					<form action="/" id="frm" method="get">	
						<h4>
							회원게시판관리
						</h4>					
						<hr>
						<div class="col-md-12 mt-4">
							<input type='button' value='선택수정' th:onclick="fnEdit()"/>
							<input type='button' value='선택삭제' th:onclick="fnDelete()"/>
							<!--<input type='button' value='게시판추가' onclick='addRow()' />-->
							<input type='button' value='게시판추가' th:onclick="|location.href='@{/admin/boardCreate}'|"/>
							
							<br><br>
							<table class="table text-center">
								<thead class="thead-strong">
									<tr>
										<th style="background-color: #eeeeee;" th:align="center" width="5%" rowspan="2"><input type="checkbox" id="chkAll"></th>
										<th style="background-color: #eeeeee;" th:align="center" width="8%" colspan="2">아이디</th>
										<th style="background-color: #eeeeee;" th:align="center" width="15%" rowspan="2">그룹</th>
										<th style="background-color: #eeeeee;" th:align="center" width="20">상태</th>
										<th style="background-color: #eeeeee;" th:align="center" width="20%">최종접속시간</th>
										<th style="background-color: #eeeeee;" th:align="center" width="8%">관리</th>
									</tr>
                                    <tr>
										<th style="background-color: #eeeeee;" th:align="center" width="8%" >이름</th>
										<th style="background-color: #eeeeee;" th:align="center" width="15%">닉네임</th>
										<th style="background-color: #eeeeee;" th:align="center" width="20">권한</th>
										<th style="background-color: #eeeeee;" th:align="center" width="20%">등록일</th>
										<th style="background-color: #eeeeee;" th:align="center" width="20%">비번변경일</th>
									</tr>
								</thead>
							</table>
						</div>						
					</form>
				</div>
			</div>
	    </div>
	</th:block>
</html>
