<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="mboard">
        <div class="col-md-7">
            <form action="/main/mboard" id="frm" method="get">
            <!-- <div class="container">  -->
                <h4>
                    공지사항
                </h4>
                <hr>
            
                <table class="table text-center">
                    <thead>
                        <tr>										
                            <th style="background-color: #eeeeee;" th:align="center" width="10%">번호</th>
                            <th style="background-color: #eeeeee;" th:align="center" width="">제목</th>
                            <th style="background-color: #eeeeee;" th:align="center" width="20%">작성자</th>
                            <th style="background-color: #eeeeee;" th:align="center" width="30%">작성일</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr th:each="list,index : ${resultMap.boardList}">										
                            <!-- 공지글이면 '공지'로 표시-->
                            <td th:align="center" style="font-weight:bold; color: blue" th:if="${list.isNotice}" th:utext="공지"></td>
                            <td th:align="center" th:unless="${list.isNotice}" th:text="${list.id}"></td>
                            <td th:align="left"><a th:href="@{board/view(boardTable=${resultMap.boardTable}, id=${list.id})}">[[${list.title}]]</a></td>
                            <td th:align="center" th:text="${list.registerId}"></td>
                            <td th:align="center" th:text="${#strings.substring(list.registerTime, 0, 10)}"></td>
                        <tr>
                    </tbody>                   
                </table>
                <th:block layout:fragment="paging">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                
                            </ul>
                        </nav>
                </th:block>
            </form>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            window.onload = () => {
                findAllPost();
            }
            // 게시글 리스트 조회
            function findAllPost() {
                const list = /*[[ ${resultMap.boardList} ]]*/null;
                if ( !list.length ) {
                    document.getElementById('list').innerHTML = '<tr><td colspan="5">검색된 결과가 없습니다.</td></tr>';
                    drawPage();
                    return false;
                }

                const pagination = /*[[ ${resultMap.pagination} ]]*/null;
                const params = /*[[ ${params} ]]*/null;
                let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

                //drawList(list, num);                
                //drawPage(pagination, params);
            }


            // 리스트 HTML draw
            function drawList(list, num) {

                let html = '';
                list.forEach(obj => {
                    html += `
                        <tr>
                            <td>${obj.isNotice === false ? '공지' : num--}</td>
                            <td class="text-left"><a href="/board/view?id=${obj.id}">${obj.title}</a></td>
                            <td>${obj.registerId}</td>
                            <td>${obj.registerTime}</td>                            
                        </tr>
                    `;
                })

               // document.getElementById('list').innerHTML = html;
            }


            // 페이지 HTML draw
            function drawPage(pagination, params) {

                if ( !pagination || !params ) {
                    document.querySelector('.pagination').innerHTML = '';
                    return false;
                }

                let html = '';

                // 첫 페이지, 이전 페이지
                if (pagination.existPrevPage) {
                    html += `
                        <li><a href="javascript:void(0)" onclick="movePage(1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li><a href="javascript:void(0)" onclick="movePage(${pagination.startPage - 1});" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
                    `;
                }

                // 페이지 번호
                for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                    const active = (i === params.page) ? 'class="active"' : '';
                    html += `<li ${active}><a href="javascript:void(0)" onclick="movePage(${i})">${i}</a></li>`;
                }

                // 다음 페이지, 마지막 페이지
                if (pagination.existNextPage) {
                    html += `
                        <li><a href="javascript:void(0)" onclick="movePage(${pagination.endPage + 1});" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
                        <li><a href="javascript:void(0)" onclick="movePage(${pagination.totalPageCount});" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    `;
                }

                document.querySelector('.pagination').innerHTML = html;
            }


            // 페이지 이동
            function movePage(page) {
                alert("mboard 1");
                const queryParams = {
                    page: (page) ? page : 1,
                    recordSize: 10,
                    pageSize: 10
                }
                location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
            }

            /*]]>*/
        </script>
    </th:block>    
</html>
