<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="taglist">
        <div class="col-md-12 right p-3">
            <form action="/main/taglist" id="frm" method="get">                
					<h4>
						장애처리 프로그램
					</h4>
					<hr>
					
					<th:block th:each="category, cstatus: ${categoryList}">
						<h5>						                        
							<span th:if="${category.categoryId == +cstatus.count}" th:text="${category.categoryName}"></span>
						</h5>
						<th:block th:each="tag: ${tagList}">					
							<button th:if="${tag.categoryId == category.categoryId}" type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left" th:text="${tag.TagName}"></button>							
						</th:block>
						<hr>
					</th:block>

					<!--
					<h5>						
                        <th:block th:each="category: ${categoryList}">
					    	<span th:if="${category.categoryId == 1}" th:text="${category.categoryName}"></span>
				    	</th:block>                        
					</h5>
					<hr>
					<th:block th:each="tag: ${tagList}">
						<button th:if="${tag.categoryId == 1}" type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left" th:text="${tag.TagName}"></button>
					</th:block>
					<hr>
					<h5>
						<th:block th:each="category: ${categoryList}">
					    	<span th:if="${category.categoryId == 2}" th:text="${category.categoryName}"></span>
				    	</th:block>                        
					</h5>
					<hr>
		
					<th:block th:each="tag: ${tagList}">
						<button th:if="${tag.categoryId == 2}" type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left" th:text="${tag.TagName}"></button>
					</th:block>
					<hr>
					<h5>
						<th:block th:each="category: ${categoryList}">
					    	<span th:if="${category.categoryId == 3}" th:text="${category.categoryName}"></span>
				    	</th:block>                        
					</h5>
					<hr>
					<th:block th:each="tag: ${tagList}">
						<button th:if="${tag.categoryId == 3}" type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left" th:text="${tag.TagName}"></button>
					</th:block>
					<hr>
					<h5>
						<th:block th:each="category: ${categoryList}">
					    	<span th:if="${category.categoryId == 4}" th:text="${category.categoryName}"></span>
				    	</th:block>                        
					</h5>
					<hr>
					<th:block th:each="tag: ${tagList}">
						<button th:if="${tag.categoryId == 4}" type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left" th:text="${tag.TagName}"></button>
					</th:block>
					-->
							<!-- Test--
					        !--ROLE_USER 권한을 갖는다면 이 글이 보임--
							<h1 sec:authorize="hasRole('ADMIN')">Has admin Role</h1>
        
							!--ROLE_ADMIN 권한을 갖는다면 이 글이 보임--
							<h1 sec:authorize="hasRole('USER')">Has user Role</h1> 
					
							!--어떤 권한이건 상관없이 인증이 되었다면 이 글이 보임--
							<div sec:authorize="isAuthenticated()">
								Only Authenticated user can see this Text
							</div>
					
							!--인증시 사용된 객체에 대한 정보--
							<b>Test코드 </b>
							<b>Authenticated DTO:</b>
							<div sec:authentication="principal"></div>
					
							!--인증시 사용된 객체의 Username (ID)--
							<b>Authenticated username:</b>
							<div sec:authentication="name"></div>
					
							!--객체의 권한 <div sec:authentication="principal.authorities"></div>--
							<b>Authenticated user role:</b>
							-->
				</div>
        </div>
    </th:block>
</html>
