<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="60 seconds">

	<!--springProfile 태그를 사용하면 logback 설정파일에서 복수개의 프로파일을 설정할 수 있다.-->
    <springProfile name="local">
        <property resource="logback-local.properties"/>
    </springProfile>
    <springProfile name="dev">
        <property resource="logback-dev.properties"/>
    </springProfile>
    <!--Environment 내의 프로퍼티들을 개별적으로 설정할 수도 있다.-->
    <springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/>

	<!-- pattern -->
    <property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n"/>

	<!-- Appenders -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>

	<!-- Logger -->
	<logger name="com.help.board" level="ERROR" appender-ref="console" />
	<logger name="com.help.board.Service" level="TRACE">
	<logger name="com.help.main.Service" level="ERROR"></logger>
			<appender-ref ref="console" />
	</logger> 
	<!-- <logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" /> -->
	<!-- <logger name="jdbc.sqltiming" level="INFO" appender-ref="console-infolog" /> -->

	<!-- Root Logger -->
	<root level="${LOG_LEVEL}">
		<appender-ref ref="CONSOLE" />
	</root>

	<!-- JDBC 로그설정 -->
	<logger name="com.help" level="INFO" appender-ref="console" />
	<!-- SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함한다. -->	
	<!--<logger name="jdbc.sqltiming" level="info"/>-->
	<logger name="jdbc" level="OFF"/>
  
	<logger name="jdbc.sqlonly" level="OFF"/>
	<logger name="jdbc.sqltiming" level="DEBUG"/>
	<logger name="jdbc.audit" level="OFF"/>
	<logger name="jdbc.resultset" level="OFF"/>
	<logger name="jdbc.resultsettable" level="DEBUG"/>
	<logger name="jdbc.connection" level="OFF"/>


</configuration>
