<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
   	<!-- layout Content -->
	<th:block layout:fragment="content">
		<!--<div id="wrapper">-->
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-md-2">
					<!-- NAV 영역-->
					<th:block th:replace="layout/fragments/nav :: sidebarFragment"></th:block>
				</div>
				<div class="col-md-10">
				<!-- <div class="container">  -->
					<form action="/board/work" id="frm" method="get">	
						<h4>
							업무프로그램
						</h4>					
						<hr>
						<table>
							<td>
							<!-- 전체 Tag선택시 현재 리스트를 다시 보여준다-->
							<button type="button" class="btn btn-dark m-1" data-bs-toggle="tooltip" data-bs-placement="left" 
							 th:title="전체" th:text="전체" th:onclick="|location.href='@{/board/work/list}'|"></button>
							 <!-- Tag선택시 해당 Tag를 검색한 결과를 조회해서 보여준다 th:onclick="onSearch(this.getAttribute('tagValue'))"-->
							<th:block th:each="tag: ${tagList}">
								<button th:if="${tag.categoryId == 4}" type="button" class="btn btn-dark m-1" data-bs-toggle="tooltip" data-bs-placement="left" 
								th:title="${tag.TagName}" th:text="${tag.TagName}" th:tagValue="${tag.TagName}" th:onclick="|location.href='@{/board/work/list/action(tagValue=${tag.TagName})}'|"></button>	
							</th:block>
							<!-- th:onclick="|location.href='@{/board/driver/list/action(tagName=${tag.TagName})}'|"-->
						</td>
						</table>
						<hr>
						<div class="col-md-12 mt-4">
							<table class="table text-center">
								<div class="row" style='float: right;'>
									<ul>								
										<span th:text="${resultMap.totalCnt}"></span>건
										<span th:text="${resultMap.curPage + 1}"></span>페이지
									<button sec:authorize="hasRole('ROLE_ADMIN')" th:align="right" type="button" class="btn btn-danger" onclick="fnDelete()">삭제</button>
									<button sec:authorize="hasRole('ROLE_ADMIN')" th:align="right" type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/work/write}'|">글쓰기</button>
									                                                               
									</ul>
								</div>
								<thead class="thead-strong">
									<tr>
										<th sec:authorize="hasRole('ROLE_ADMIN')" style="background-color: #eeeeee;" th:align="center" width="5%"><input type="checkbox" id="chkAll"></th>
										<th style="background-color: #eeeeee;" th:align="center" width="8%">번호</th>
										<th style="background-color: #eeeeee;" th:align="center" width="15%">태그</th>
										<th style="background-color: #eeeeee;" th:align="center" width="">제목</th>
										<th style="background-color: #eeeeee;" th:align="center" width="20%">작성자</th>
										<th style="background-color: #eeeeee;" th:align="center" width="8%">조회수</th>
										<th style="background-color: #eeeeee;" th:align="center" width="17%">작성일</th>
									</tr>
								</thead>
								<tbody id="tbody">
									<tr th:each="workList,index : ${resultMap.workList}" th:with="paging=${resultMap.paging}">
										<td sec:authorize="hasRole('ROLE_ADMIN')">
											<input type="checkbox" name="deleteId" th:value="${workList.id}">
										<td th:align="center" style="font-weight:bold; color: blue" th:if="${workList.isNotice}" th:utext="공지"></td>
										<td th:align="center" th:unless="${workList.isNotice}" th:text="${(resultMap.totalCnt - index.index) - (paging.pageNumber * paging.pageSize)}"></td>	

										<td><button type="button" class="btn btn-success m-1" data-bs-toggle="tooltip" data-bs-placement="left" th:title="${workList.tag}" th:text="${workList.tag}" 
											th:tagValue="${workList.tag}" th:onclick="|location.href='@{/board/work/list/action(tagValue=${workList.tag})}'|"></button></td>								
										<td th:align="left" >
											<a th:href="|@{view}${resultMap.paginationInfo.makeQueryString(resultMap.paginationInfo.curPage)}&id=${workList.id}|" th:text="${workList.title}"></a>
										</td>
										<td th:align="center" th:text="${workList.registerId}"></td>
										<td th:align="center" th:text="${workList.readCnt}"></td>
										<td th:align="center" th:text="${workList.registerTime}"></td>
									<tr>
								</tbody>
							</table>
							<div class="row" ></div>
							<th:block layout:fragment="paging">
								<nav th:replace="board/fragments/common :: pagination"></nav>
							</th:block>
							</div>
						</div>						
					</form>
					<th:block layout:fragment="search">
						<div th:replace="board/fragments/common :: search"></div>
				</div>
			</div>
	    </div>
	    <script th:inline="javascript">
	    	// header checkbox event
	    	$("#chkAll").click(function() {
	    		if (this.checked) {
	    			$("input[name='deleteId']").prop("checked", true);
	    		} else {
	    			$("input[name='deleteId']").prop("checked", false);
	    		}
	    	});
	    	
	    	// body checkbox event
	    	$("input[name='deleteId']").click(function() {
	    		let delInpLen = $("input[name='deleteId']").length;
	    		let delInpChkLen = $("input[name='deleteId']:checked").length;
	    		
	    		if (delInpLen == delInpChkLen) {
	    			$("#chkAll").prop("checked", true);
	    		} else {
	    			$("#chkAll").prop("checked", false);
	    		}
	    	});
	    
			function fnDelete() {
				let delInpChkLen = $("input[name='deleteId']:checked").length;
				
				if (delInpChkLen > 0) {
					if (confirm("Do you want to delete it?")) {
						let frm = $("#frm");
						frm.attr("action","/board/work/delete");
						frm.attr("method","post");
						frm.submit();
					}
				} else {
					alert("Not selected.");
				}
			}
				/*<![CDATA[*/

			function movePage(uri, queryString) {
				location.href = uri + queryString;
			}

			function searchBoard(form) {
				/*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
				var searchForm = document.getElementById("searchForm");
				alert(searchForm.action);
				searchForm.action = "/board/work/list/action";
				alert(searchForm.action);
				alert("1");
				if (isEmpty(form) == true) {
					var searchKeyword = document.getElementById("subSearchKeyword");
					if (isEmpty(searchKeyword.value) == true) {
						alert("키워드를 입력해 주세요.");
						searchKeyword.focus();
						return false;
					}
					form = document.getElementById("searchForm");
					form.searchKeyword.value = searchKeyword.value;					
					form.submit();
					alert("end");
				}

				if (isEmpty(form.searchKeyword.value) == true) {
					alert("키워드를 입력해 주세요.");
					return false;
				}
			}
			/*[- end of function -]*/

			/*]]>*/
			
		</script>
	</th:block>
</html>