<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Footer -->
    <th:block th:fragment="footerFragment">
        <footer class="sticky-footer bg-white">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-hana">
                            <H5 CLASS="text-center p3 text-white">
                                IT HELPDESK <BR>
                                02-3466-4900
                            </H5>
                        </DIV>
                    </div>
                </div>        
            </div>
           
        </footer>
    </th:block>

</html>