<!DOCTYPE html>
<meta charset="UTF-8">
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="/layout/fragments/sidebar">

    <!-- Head -->
    <th:block th:fragment="headFragment">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1" />

            <style>
                .bd-placeholder-img {
                    font-size: 1.125rem;
                    text-anchor: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                }    
                @media (min-width: 768px) {
                    .bd-placeholder-img-lg {
                        font-size: 3.5rem;
                    }
                }
            </style>

            <nav class="nav nav-pills flex-column mb-auto">

                <div class="container-fluid">
                    <div class="row">
                        <div class="p-3 bg-hana text-white">
                            <div class="container">
                                <header class="d-flex flex-wrap  align-items-center justify-content-center  justify-content-lg-start py-3 mb-4 border-bottom">
                                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                                        <span class="fs-4 text-white">IT HELPDESK</span>
                                        <span class="fs-4 text-white" th:if="${#lists.isEmpty(loginUser) == false}"> ([[${loginUser.getUser().userName}]])</span>
                                        
                                    </a>
                                    <ul class="nav nav-pills" >
                                        <li class="nav-item" th:each="topmenu: ${menuList}" th:if="${topmenu.menuPosition == '000'}">
                                        <a th:href="@{${topmenu.menuLink}}" class="nav-link px-2 text-white" th:if="${topmenu.menuName == '로그인'}" sec:authorize="isAnonymous()" th:text="${topmenu.menuName}"> </a>
                                        <a th:href="@{${topmenu.menuLink}}" class="nav-link px-2 text-white" th:if="${topmenu.menuName == '로그아웃'}" sec:authorize="isAuthenticated()" th:text="${topmenu.menuName}">  </a>
                                        <a th:href="@{${topmenu.menuLink}}" class="nav-link px-2 text-white" th:if="${topmenu.menuName == '관리자'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="${topmenu.menuName}">  </a>
                                        <a th:href="@{${topmenu.menuLink}}" class="nav-link px-2 text-white" th:if="${topmenu.menuPosition == '000' and topmenu.menuRole == '000'}" th:text="${topmenu.menuName}">  </a>
                                        </li>
                                        <!-- 
                                    <ul class="nav nav-pills" th:each="topmenu: ${menuList}">
                                        <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                                        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">ITAMS</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">HTMS</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">정기점검등록</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">원격지원</a></li>                                        
                                        <li class="nav-item" sec:authorize="isAnonymous()"><a href="/login" class="nav-link px-2 text-white">로그인</a></li>
                                        <li class="nav-item" sec:authorize="isAuthenticated()"><a  href="/logout" class="nav-link px-2 text-white">로그아웃</a></li>
                                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a  href="/admin" class="nav-link px-2 text-white">관리자</a></li>
                                        </form>
                                    
            
                                    </ul>
                                    -->
                                    </ul>

                                    <!--
                                        <th:block layout:fragment="search">
                                        <div th:replace="layout/fragments/common :: search"></div>
                                    </th:block>
                                    -->
                                    <th:block layout:fragment="search">
                                        <!--
                                        <form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
                                            <input type="search" placeholder="Search..." class="input-search">
                                            <button class="mdi mdi-magnify button-search" type="submit">
                                                <i class="fas fa-search" aria-hidden="true" ></i>
                                            </button>
                                        </form>
                                        -->
                                        <div class="container-4">
                                            <form id="mainSearchForm"  onsubmit="return false" autocomplete="off">
                                                <input type="search" id="search" placeholder="Search ..." />
                                                
                                                <button type="button" class="icon" th:onclick="moveSearchPage()"><i class="fa fa-search"></i></button>
                                                <!-- <button class="icon" th:onclick="moveSearchPage(); return false;"><i class="fa fa-search"></i></button> -->
                                            </form>
                                         </div>

                                    </th:block>
                                    <!--
                                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                                        <input type="search" class="form-control form-control" placeholder="Search..." aria-label="Search">
                                    </form>
                                    <div class="text-end">
                                        <button type="button" class="btn btn-warning">검색</button>
                                    </div>
                                    -->
                                    
            
                                </header>
            
            
                            </div>
            
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
        
                
            </nav>            
        </head>
    </th:block>
</html>