<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <!-- <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"> -->
    <div>
        <ul class="nav nav-pills flex-column mb-auto">            
            <th:block th:each="navmenu: ${menuList}" th:if="${navmenu.menuName == '공지사항'}">
            <li class="nav-item">
                <a th:href="|@{${navmenu.menuLink}}?boardId=${navmenu.boardId}|" th:text="${navmenu.menuName}" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                </a>
            </li>
            </th:block>
            <!-- 권한이 999인 메뉴들은 로그인했을때만 보여준다 1은 공지사항 표시임-->
            <th:block th:each="navmenu: ${menuList}" th:if="${navmenu.menuPosition.equals('100')}">
            <li>                                                                         
                <div th:switch="${#authorization.expression('isAuthenticated()')}">
                    <div th:case="true">
                        <hr>
                        <div th:if="${navmenu.menuLv.equals('000') && #authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
                            
                            <div th:text="${navmenu.menuName}"></div>
                        </div>
                        <div th:if="${!navmenu.menuLv.equals('010') && !navmenu.menuRole.equals('000')}" sec:authorize="hasRole('ROLE_ENG')">
                            <div th:text="${navmenu.menuName}"></div>
                        </div> 
                    </div>
                    <div th:case="false"> 
                        <hr th:if="${navmenu.menuRole.equals('999')}">
                        <div th:if="${navmenu.menuLv.equals('000') && navmenu.menuRole.equals('999')}" th:text="${navmenu.menuName}"></div>
                    </div>
                </div>

                <!-- content 메뉴-->
                <a th:href="|@{${navmenu.menuLink}}?contentId=${navmenu.menuUpperid}|" th:if="${navmenu.menuLv.equals('010')}" th:text="${navmenu.menuName}"></a>

                <!-- 단순링크-->
                <a th:href="|@{${navmenu.menuLink}}|" th:if="${navmenu.menuLv.equals('020')}" th:text="${navmenu.menuName}"></a>

                <!-- 하위 메뉴 목록-->
                <ul style="margin-left: 20px;" th:each="submenu: ${menuList}" th:if="${submenu.menuPosition.equals('110') && submenu.menuLv.equals('001') && navmenu.menuDislist == submenu.menuUpperid}">
                    <li th:if="${submenu.menuRole.equals('999')}" sec:authorize="isAnonymous()">
                        <a th:href="|@{${submenu.menuLink}}?boardId=${submenu.boardId}|" th:text="${submenu.menuName}"></a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="|@{${submenu.menuLink}}?boardId=${submenu.boardId}|" th:text="${submenu.menuName}"></a>
                    </li>
                    <li th:if="${!submenu.menuRole.equals('000')}" sec:authorize="hasRole('ROLE_ENG')">
                        <a th:href="|@{${submenu.menuLink}}?boardId=${submenu.boardId}|" th:text="${submenu.menuName}"></a>
                    </li>
                </ul>
            </li>
            </th:block>
            <!-- 
            <th:block th:each="navmenu: ${menuList}">
                <a th:href="@{/#}" class="nav-link link-dark" th:if="${navmenu.menuUpperid == 10}" th:text="${navmenu.menuName}">
                    <a th:href="@{/#}" th:each="submenu: ${menuList}" th:if="${navmenu.menuLv == submenu.menuUpperid}" th:text="${submenu.menuName}">
                        <ul class="icon-list" style="margin-left: 20px;" >
                            <li>
                            </li>
                        </ul>
            </th:block>
            -->
            <!--
            <li>
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    장애처리 프로그램
                </a>
            </li>
            <ul class="icon-list" style="margin-left: 20px;">
                <li><a href="#">OA프로그램</a></li>
                <li><a href="#">업무프로그램</a></li>
                <li><a href="#">장치드라이버</a></li>
                <li><a href="#">프린터/복합기</a></li>
                <li><a href="#">메뉴얼</a></li>
            </ul>
            <li>
                <a href="#" class="nav-link link-dark" sec:authorize="isAuthenticated()">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    엔지니어 프로그램
                </a>
            </li>
            <ul class="icon-list" style="margin-left: 20px;" sec:authorize="isAuthenticated()">
                <li><a href="#">엔지니어 공지사항</a></li>
                <li><a href="#">OA프로그램</a></li>
                <li><a href="#">장애처리드라이버</a></li>
                <li><a href="#">서식자료실</a></li>
                <li><a href="#">임시자료실</a></li>
                <li><a href="#">메뉴얼</a></li>
            </ul>            
            <hr>            
            <li>
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                    PC Host Name
                </a>
            </li>
            <hr>
            <li>
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                    FAQ/자료요청
                </a>
            </li>
            <hr>
            <li>
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    구 119서버
                </a>
            </li>
            -->
            <hr>
        </ul>
    </div>

</th:block>

</html>