<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment">
	<!--.... 스크립트 코드 작성-->
    <!-- 게시판 css 추가 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">-->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}">
    <script th:src="@{/js/all.min.js}"></script>



    <!--부트스트랩 css 추가 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--jQuery 추가 -->
    <script th:src="@{/js/lib/jquery.min.js}"></script>
    <!--부트스트랩 script 추가 -->
    <script th:src="@{/js/lib/bootstrap.min.js}"></script>            
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/lib/popper.js}"></script>
    <script th:src="@{/js/lib/popper.js.map}"></script>
    <title>IT HELPDESK</title>    
    
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />            
    <script th:src="@{/scripts/main.js}"></script>
    
    <!-- Page level custom scripts -->
    <script th:src="@{/scripts/jquery.min.js}"></script>
    <script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">   
    <link rel="stylesheet" th:href="@{/css/helpdesk.css}"> 
    <!--<script  type="text/javascript" th:src="@{/smarteditor2/js/service/HuskyEZCreator.js}" charset="utf-8"></script>-->
    <script th:src="@{/summernote/summernote-lite.js}"></script>
    <script th:src="@{/summernote/lang/summernote-ko-KR.js}"></script>
    <link rel="stylesheet" th:href="@{/summernote/summernote-lite.css}">
 
</th:block>
</html>