<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="~{layout/layout}">
   	<!-- layout Content -->
	<th:block layout:fragment="content">
		<!-- <div id="wrapper"> -->
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-md-2">
					<!-- NAV 영역-->
					<th:block th:replace="/layout/fragments/nav :: sidebarFragment"></th:block>
				</div>
				<div class="col-md-6">
				<!-- <div class="container">  -->
					<form action="/board/index" id="frm" method="get">
						<h4>
							공지사항
						</h4>
						<hr>
						<div class="col-md-12 mt-4">							
							<table class="table text-center">
								<thead>
									<tr>										
										<th style="background-color: #eeeeee;" th:align="center" width="10%">번호</th>
										<th style="background-color: #eeeeee;" th:align="center" width="">제목</th>
										<th style="background-color: #eeeeee;" th:align="center" width="20%">작성자</th>
										<th style="background-color: #eeeeee;" th:align="center" width="20%">작성일</th>
									</tr>
								</thead>
								<tbody id="tbody">
									<tr th:each="list,index : ${resultMap.list}" th:with="paging=${resultMap.paging}">										
										<td th:align="center" th:text="${(resultMap.totalCnt - index.index) - (paging.pageNumber * paging.pageSize)}"></td>
										<td th:align="left"><a th:href="@{board/view(id=${list.id})}">[[${list.title}]]</a></td>
										<td th:align="center" th:text="${list.registerId}"></td>
										<td th:align="center" th:text="${#strings.substring(list.registerTime, 0, 10)}"></td>
									<tr>
								</tbody>
							</table>							
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<h4>
						장애처리 담당자
					</h4>
					<hr>
					<table class="table text-center">
						<thead>
						<tr>
							<th>
								부서명
							</th>
							<th>
								담당자명
							</th>
							<th>
								대표번호
							</th>
							<th>
								담당업무
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								영업지원
							</td>
							<td>
								문승준
							</td>
							<td>
								02-2002-2887
							</td>
							<td>
								본점PC정비실
							</td>
						</tr>
						<tr>
							<td>
								영업지원
							</td>
							<td>
								문승준
							</td>
							<td>
								02-2002-2887
							</td>
							<td>
								본점PC정비실
							</td>
						</tr>                                <tr>
							<td>
								영업지원
							</td>
							<td>
								문승준
							</td>
							<td>
								02-2002-2887
							</td>
							<td>
								본점PC정비실
							</td>
						</tr>                                <tr>
							<td>
								영업지원
							</td>
							<td>
								문승준
							</td>
							<td>
								02-2002-2887
							</td>
							<td>
								본점PC정비실
							</td>
						</tr>                                <tr>
							<td>
								영업지원
							</td>
							<td>
								문승준
							</td>
							<td>
								02-2002-2887
							</td>
							<td>
								본점PC정비실
							</td>
						</tr>                                <tr>
							<td>
								영업지원
							</td>
							<td>
								문승준
							</td>
							<td>
								02-2002-2887
							</td>
							<td>
								본점PC정비실
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-10 right p-3">
					<h4>
						장애처리 프로그램
					</h4>
					<hr>
					<h5>
						OA프로그램
					</h5>
					<hr>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">Office뷰어</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">보안패치</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">하나글꼴</button>
		
					<hr>
					<h5>
						업무프로그램
					</h5>
					<hr>
		
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">프로그램패치</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">그룹포탈</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">인터넷초기화</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">메신저</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">PC-OFF</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">계정업무프로그램</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">계정연수프로그램</button>
		
					<hr>
					<h5>
						장치드라이버
					</h5>
					<hr>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">프린터 드라이버</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">신분증스케너</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">인감스캐너</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">EDMS스캐너</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">바이오인증</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">핀패드</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">IC카드</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">통장프린터</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">어음교환용스캐너</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">그래픽카드</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">PC드라이버</button>
		
					<hr>
					<h5>
						프린터/복합기
					</h5>
					<hr>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">신도리코</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">후지제록스</button>
					<button type="button" class="btn btn-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">캐논</button>
					<hr>
							<!-- Test-->
					        <!--ROLE_USER 권한을 갖는다면 이 글이 보임-->
							<h1 sec:authorize="hasRole('ADMIN')">Has admin Role</h1>
        
							<!--ROLE_ADMIN 권한을 갖는다면 이 글이 보임-->
							<h1 sec:authorize="hasRole('USER')">Has user Role</h1> 
					
							<!--어떤 권한이건 상관없이 인증이 되었다면 이 글이 보임-->
							<div sec:authorize="isAuthenticated()">
								Only Authenticated user can see this Text
							</div>
					
							<!--인증시 사용된 객체에 대한 정보-->
							<b>Test코드 </b>
							<b>Authenticated DTO:</b>
							<div sec:authentication="principal"></div>
					
							<!--인증시 사용된 객체의 Username (ID)-->
							<b>Authenticated username:</b>
							<div sec:authentication="name"></div>
					
							<!--객체의 권한 <div sec:authentication="principal.authorities"></div>-->
							<b>Authenticated user role:</b>
							
		
				</div>
			</div>            
	    </div>
	</th:block>
</html>	